
    <!DOCTYPE html>
<html lang="en">
<body>

<!-- Button to open the side navigation -->
<span style="font-size:50px;cursor:pointer;position:fixed;" (mouseover)="openNav()" >&#9776;</span>

<!-- Side navigation bar -->
<div id="mySidenav" class="sidenav" (mouseleave)="closeNav()">
  <a href="javascript:void(0)" class="closebtn" >&times;</a>
  <a href="/home">Home</a>
  <a href="/about">About</a>
  <a href="/Test">Test</a>
  <a href="/OWO">OWO</a>
</div>

<!-- Page content -->
<div class="content" id="main">
  <!-- Angular components will be rendered here -->
</div>



</body>
</html>
 